.goal-list{
    list-style-type: none;
    margin: 2rem 0;
    padding: 0;
  }
  
  .goal-list li{
    margin: 1rem 0;
    border: 1px solid #ccc;
    padding: 1rem;
  
  }
  .goal-list h2{
    text-align: center;
  }